<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>

    
<!-- 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet" />

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" />
    <link href="css/blog/test.css" rel="stylesheet" />  -->
</head>

<body>
    <div id="background">
        <div class="header"></div>
        <div class="guide-Nav"></div>
        <div id="page">
            <div id="main">
                <div id="mainBody">
                    <div id="contentFLoat">
                        <div class="blog-nav">
                            <div class="main-nav">
                                <span style="display: inline-flex; align-items: center;">
                                    <a href="/homepage" id="homeLink">Home</a>
                                    <span style="margin-inline: 5px; padding-bottom: 5px;"> <i
                                            class="fa fa-greater-than" style="color: #6b7280;
                                  font-size: 10px;"></i></span>

                                </span>


                                <a href="template-guides.html" id="guidesLink">Guides</a>
                            </div>
                            <a class="blog-edit-btn" href="./introduction-page.html">
                                <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
                                Edit
                            </a>
                        </div>
                        <div class="content">
                            <div class="guideTop">
                                <div id="guide-intro">
                                    <div id="guide-intro-container">
                                        <div class="guide-intro-header">
                                            <div class="guide-intro-header-container">
                                                <img class="thumbnail"
                                                    src="https://guide-images.cdn.ifixit.com/igi/lBnxvijJKpT5VGBQ.200x150"
                                                    alt="" />
                                                <div class="guide-intro-header-main">
                                                    <h1 class="guide-title"></h1>
                                                    <div class="guide-author-section">
                                                        <span class="author-avatar">
                                                            <img class="author-avatar__img"
                                                                src="https://assets.cdn.ifixit.com/static/images/avatars/User/ifixit/avatar-5.thumbnail"
                                                                alt="" />
                                                        </span>
                                                        <div class="author-info">
                                                            <p class="author-info-members">
                                                                <a href="#" class="guide-author">{%AUTHOR%}</a>

                                                            </p>
                                                            <p class="author-date">
                                                                Last updated on August 7, 2023
                                                            </p>
                                                        </div>
                                                        <div class="stack-stats">
                                                            <div class="stack-container">
                                                                <button type="button" class="stack-btn" tabindex="0"
                                                                    id="popover-trigger-:r5:">
                                                                    <svg aria-hidden="true" focusable="false"
                                                                        data-prefix="far" data-icon="eye"
                                                                        class="svg-inline--fa fa-eye css-1pz00i8"
                                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 576 512">
                                                                        <path fill="currentColor"
                                                                            d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z">
                                                                        </path>
                                                                    </svg>
                                                                    126K
                                                                </button>
                                                                <div class="inline-divider"></div>
                                                                <button type="button" class="stack-btn" tabindex="0"
                                                                    id="popover-trigger-:r7:">
                                                                    <svg aria-hidden="true" focusable="false"
                                                                        data-prefix="far" data-icon="messages"
                                                                        class="svg-inline--fa fa-messages css-14idjcv"
                                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 640 512">
                                                                        <path fill="currentColor"
                                                                            d="M48 72c0-13.3 10.7-24 24-24H344c13.3 0 24 10.7 24 24V248c0 13.3-10.7 24-24 24H216c-4.7 0-9.4 1.4-13.3 4L144 315.2V296c0-13.3-10.7-24-24-24H72c-13.3 0-24-10.7-24-24V72zM72 0C32.2 0 0 32.2 0 72V248c0 39.8 32.2 72 72 72H96v40c0 8.9 4.9 17 12.7 21.2s17.3 3.7 24.6-1.2l90-60H344c39.8 0 72-32.2 72-72V72c0-39.8-32.2-72-72-72H72zM256 376c0 39.8 32.2 72 72 72h88.7l90 60c7.4 4.9 16.8 5.4 24.6 1.2S544 496.9 544 488V448h24c39.8 0 72-32.2 72-72V200c0-39.8-32.2-72-72-72H448v48H568c13.3 0 24 10.7 24 24V376c0 13.3-10.7 24-24 24H520c-13.3 0-24 10.7-24 24v19.2L437.3 404c-3.9-2.6-8.6-4-13.3-4H328c-13.3 0-24-10.7-24-24V352H256v24z">
                                                                        </path>
                                                                    </svg>
                                                                    7
                                                                </button>
                                                                <div class="inline-divider"></div>
                                                                <button type="button" class="stack-btn" tabindex="0"
                                                                    id="popover-trigger-:r9:">
                                                                    <svg aria-hidden="true" focusable="false"
                                                                        data-prefix="far" data-icon="circle-check"
                                                                        class="svg-inline--fa fa-circle-check css-1bn8wl3"
                                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 512 512">
                                                                        <path fill="currentColor"
                                                                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z">
                                                                        </path>
                                                                    </svg>
                                                                    16
                                                                </button>
                                                                <div class="inline-divider"></div>
                                                                <button type="button" class="stack-btn" tabindex="0"
                                                                    id="popover-trigger-:rb:">
                                                                    <svg aria-hidden="true" focusable="false"
                                                                        data-prefix="far" data-icon="star"
                                                                        class="svg-inline--fa fa-star css-u6uuyy"
                                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 576 512">
                                                                        <path fill="currentColor"
                                                                            d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z">
                                                                        </path>
                                                                    </svg>
                                                                    9
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="guide-intro-workingTime">
                                                <div class="container">
                                                    <div class="hours">
                                                        <span class="time"><svg aria-hidden="true" focusable="false"
                                                                data-prefix="fas" data-icon="clock"
                                                                class="svg-inline--fa fa-clock fa-fw css-1movnm9"
                                                                role="img" xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                    d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z">
                                                                </path>
                                                            </svg>

                                                        </span>
                                                    </div>
                                                    <div class="level">
                                                        <span class="difficulty">
                                                            <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                                data-icon="gauge"
                                                                class="svg-inline--fa fa-gauge fa-fw css-1ng49pg"
                                                                role="img" xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm56-160c0-22.3-13.1-41.6-32-50.6V120c0-13.3-10.7-24-24-24s-24 10.7-24 24V301.4c-18.9 9-32 28.3-32 50.6c0 30.9 25.1 56 56 56s56-25.1 56-56zM160 192a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 64a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm256 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM384 160a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guide-intro-main">
                                            <h2>Introduction</h2>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ol class="steps-container container" id="steps-container"></ol>
                            <div id="conclusion" class="completion-container">
                                <div class="container">
                                    <h3>🤗 You're finish</h3>
                                    <h4>Conclusion</h4>
                                    <div>
                                        <div id="conclusionText"></div>
                                    </div>
                                    <div class="guide-donate">
                                        <button class="donate-button">
                                            <i class="fa fa-check"></i>Give the author +30 points!
                                        </button>

                                        <p class="other-completions">16 other people completed this guide.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="author">
                                <div class="author-team-container">
                                    <div class="author-container">
                                        <div class="author-heading">
                                            <h3><a href="#">Author</a></h3>
                                        </div>
                                        <div class="author-meta">
                                            <div class="author-photo">
                                                <a href="/User/1117666/David+Wright">
                                                    <img width="100" height="100" alt=""
                                                        src="https://assets.cdn.ifixit.com/static/images/avatars/User/ifixit/avatar-5.standard" />
                                                </a>
                                            </div>
                                            <div class="author-info">
                                                <h4>
                                                    <a href="/User/1117666/David+Wright"> David Wright </a>
                                                </h4>
                                                <p>Member since: 02/23/15</p>
                                                <p>631 Reputation</p>
                                                <p>1 Guide authored</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-container">
                                        <div class="team-heading">
                                            <h3><a href="#">Team</a></h3>
                                        </div>
                                        <div class="team-meta"></div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="comments-container">
                                    <div class="comments-header">
                                        <div class="comment-count">
                                            <h3>7 Comments</h3>
                                        </div>
                                        <div class="comment-buttons">
                                            <button class="add-comment button" title="Add a comment">
                                                <i class="fa-regular fa-comments"></i>
                                                <span>Add a comment</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="comments-list">
                                        <!-- Comment 1 -->
                                        <div class="comment">
                                            <i class="fa-regular fa-comment"></i>
                                            <div class="comment-info">
                                                <p>
                                                    Nice post. Shop car battery at batterybhai and their expert
                                                    technical team come to install the battery with all battery
                                                    replacement tools kit.
                                                </p>
                                                <div class="comment-meta">
                                                    <a href="/User/1367201/mayank+tanwar">mayank tanwar</a>
                                                    -
                                                    <a href="#" class="comment-date" data-date="2016-06-30">Jun 30,
                                                        2016</a>
                                                    <span class="comment-actions">
                                                        <a class="add-comment" href="#reply">Reply</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comment 2 -->
                                        <div class="comment">
                                            <i class="fa-regular fa-comment"></i>
                                            <div class="comment-info">
                                                <p>Very interesting post. Thanks for sharing it.</p>
                                                <p>
                                                    <a href="https://www.sarexports.com/product-category/auto-parts-exporter/"
                                                        rel="nofollow noopener noreferrer"
                                                        title="Auto Parts Exporter">Auto
                                                        Parts Exporter</a>
                                                </p>
                                                <div class="comment-meta">
                                                    <a href="/User/2116020/Raman+Malik">Raman Malik</a>
                                                    -
                                                    <a href="#" class="comment-date" data-date="2017-08-08">Aug 8,
                                                        2017</a>
                                                    <span class="comment-actions">
                                                        <a class="add-comment" href="#reply">Reply</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Add more comments here -->
                                    </div>

                                    <div class="comment-input">
                                        <textarea placeholder="Write your comment here..."></textarea>
                                        <div class="comment-button-container">
                                            <button class="submit-comment button" onclick="postSummaryComment(this)">
                                                Post Comment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="social-menu">
            <ul>
                <li>
                    <a href="https://github.com/sanketbodke" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/imsanketbodke/" target="blank"><i
                            class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/sanket-bodake-995b5b205/" target="blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="https://codepen.io/sanketbodke"><i class="fab fa-codepen" target="blank"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- <script src="/controllers/blog.js"></script> -->
    <script src="/controllers/guide.js"></script>
    <!--
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
-->

</body>

</html>